<div class="left-bar side-bar">
  <a routerLink="/" class="logo">
    <div class="logo-break">Chandu</div>
    <div class="logo-break">J S</div>
  </a>
  <a href="mailto:app.coder@outlook.in" class="contact-button"></a>
</div>
<div class="right-bar side-bar text-center">
  <a routerLink="/works" routerLinkActive="active" class="site-link">Works</a>
  <div class="social-icons">
    <a href="https://github.com/ctrleffive" target="_blank" class="social-icon" alt="GitHub"></a>
    <a href="https://instagram.com/ctrleffive" target="_blank" class="social-icon" alt="Instagram"></a>
    <a href="https://linkedin.com/in/ctrleffive" target="_blank" class="social-icon" alt="LinkedIn"></a>
    <a href="https://twitter.com/ctrleffive" target="_blank" class="social-icon" alt="Twitter"></a>
  </div>
  <a routerLink="/about" routerLinkActive="active" class="site-link">About</a>
</div>
<div class="bg-animator"></div>
