app-root:empty:before {
  opacity: 1;
  visibility: visible;
}
app-root:before {
  content: '';
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(assets/images/loader.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 75px;
  height: 75px;
  border-radius: 100%;
  transition-duration: 0.2s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
