@import 'src/variables';

:host {
  .post-thumbnail {
    margin: -3rem -3rem 3rem;
    max-width: calc(100% - -6rem);
  }

  .blog-wrap {
    padding: 3rem;
    @media screen and (max-width: 500px) {
      margin-left: -3rem;
      margin-right: -3rem;
      border-radius: 0 !important;
      width: calc(100% - -5rem);
    }
    @media print {
      border: 1px solid;
    }
  }
}
