<div class="content-wrap">
  <div *ngIf="meta">
    <div class="mb-5">
      <div class="h1 font-weight-bold text-body" [innerText]="meta.title"></div>
      <div class="mb-3">Last Updated: {{ meta.lastUpdated | date: 'longDate' }}</div>
      <div class="tags">
        <span *ngFor="let tag of meta.tags" class="badge badge-pill badge-brand mb-2 mr-2 ng-star-inserted py-1">#{{ tag }}</span>
      </div>
    </div>
    <div [ngClass]="{'md-loaded': isVisible}" class="bg-white blog-wrap rounded-lg overflow-hidden">
      <img *ngIf="meta.thumbnail" [src]="meta.thumbnail" [alt]="meta.title" class="post-thumbnail">
      <ngx-md (loaded)="mdLoaded()" [path]="'/assets/data/blog/' + meta.slug + '.md'" class="line-numbers"></ngx-md>
    </div>
    <div [ngClass]="{'md-loaded': isVisible}" class="bg-white blog-wrap rounded-lg mt-4 d-print-none">
      <disqus [identifier]="'/blog/' + meta.slug"></disqus>
    </div>
  </div>
</div>
