---
layout: default
menu: works
permalink: /
---
<div class="padding-section image">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="h1 head">{{ site.data.about.home.head }}
          <span class="branded">{{ site.data.about.home.headBranded }}</span>
        </div>
        {% for pdata in site.data.about.home.description %}
        <p class="sub-head">{{ pdata }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="works-blocks row text-center no-gutters row-eq-height">
  {% assign works = site.works | sort: 'order' %}
  {% for item in works reversed  %}
  <div class="col-sm-6 col-md-4">
    <div class="work-block" style="background: {{ item.color }}">
      <a href="{{ item.url }}" class="work-link"></a>
      <img src="assets/images{{ item.url }}thumb.png" alt="{{ item.title }}" class="work-thumb">
      <div class="work-middle">
        <div class="h3 wm-head">{{ item.title }}</div>
        <ul class="list-inline wm-tags">
          {% for cat in item.cats %}
          <li class="list-inline-item">{{ cat }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
