@import 'src/variables';

:host {
  .welcome-wrap {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);

    @media screen and (max-width: 1000px) {
      left: 50%;
    }
    @media screen and (max-width: 500px) {
      left: initial;
      width: initial;
      top: initial;
      bottom: initial;
      position: absolute;
      margin: 8rem 2rem 0;
      transform: initial;
      margin-top: 7rem;
    }
  }

  .scroll-helper {
    padding: 1rem;
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    transition-duration: 0.2s;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    position: relative;
    top: 0;
    &:before {
      content: '';
      border: 2px solid $accentColor;
      width: 0.7rem;
      height: 0.7rem;
      display: block;
      border-left: 0;
      border-top: 0;
      position: absolute;
      top: 46%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    .lights-on & {
      border-color:rgba(0, 0, 0, 0.1);
      &:before {
        border-color: $accentColorLightsOn;
      }
    }
    &:hover {
      top: 0.5rem;
    }
  }
}
