<div class="padding-section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="h5 sec-head m-b-0">{{ site.data.misc.getintouch.head }}</div>
        <p class="m-b">{{ site.data.misc.getintouch.description }}</p>
        <a href="contact" class="spl-button">{{ site.data.misc.getintouch.button }}</a>
      </div>
    </div>
  </div>
</div>
<footer class="padding-section">
  <div class="container">
    <div class="row align-items-center no-gutters">
      <div class="col-lg">
        <div class="h6">&copy; Chandu J S {{ site.time | date: "%Y" }}</div>
        <p class="m-b-0">{{ site.data.misc.footerTag }}</p>
        <p class="d-md-none"></p>
      </div>
      <a href="{{ site.data.misc.social.twitter }}" target="_blank" class="soc-link"><img src="https://png.icons8.com/wired/40/000000/twitter.png" alt="Twitter"></a>
      <a href="{{ site.data.misc.social.linkedin }}" target="_blank" class="soc-link"><img src="https://png.icons8.com/wired/40/000000/linkedin.png" alt="LinkedIn"></a>
      <a href="{{ site.data.misc.social.instagram }}" target="_blank" class="soc-link"><img src="https://png.icons8.com/wired/40/000000/instagram.png" alt="Instagram"></a>
      <a href="{{ site.data.misc.social.github }}" target="_blank" class="soc-link"><img src="https://png.icons8.com/wired/40/000000/github.png" alt="Github"></a>
    </div>
  </div>
</footer>
