<header>
  <div class="container">
    <nav class="navbar navbar-expand flex-column flex-md-row">
      <a class="navbar-brand logo" href="/">C</a>
      <p class="d-md-none"></p>
      <ul class="navbar-nav flex-row ml-md-auto menu">
        <li class="nav-item">
          <a class="nav-link{% if page.menu == 'works' %} active{% endif %}" href="/">Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.menu == 'about' %} active{% endif %}" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link{% if page.menu == 'contact' %} active{% endif %}" href="contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
