<div class="content-wrap">
  <div class="h1 font-weight-bold mb-5">
    Hi.<br>
    I'm <span class="high">Chandu J S</span><span class="blinker">.</span><br>
    A <span class="high">full stack developer</span><br> based in
    <span class="brand-light">Trivandrum, India</span>.<br>
    Currently living in <span class="high">Seychelles</span>
  </div>
  <div class="brand-light h3">
    Interested in<br>working together?<br>
    Feel free to contact me<br> for any project or collaboration.
  </div>
  <div class="mt-5 h5">
    My skillset and interests includes:
    <div class="font-weight-bold mt-3 skills">
      <span class="high">JavaScript</span>,
      <span class="high">Dart & Flutter</span>,
      <span class="high">CSS3</span>,
      <span class="high">HTML5</span>,
      <span class="high">Electron</span>,
      <span class="high">MongoDB</span>,
      <span class="high">Mobile & Responsive Design</span>,
      <span class="high">Instagram</span>,
      <span class="high">Node.js</span>,
      <span class="high">WebRTC, WebSockets</span>,
      <span class="high">Facebook</span>,
      <span class="high">PHP</span>,
      <span class="high">Twitter</span>,
      <span class="high">MySQL</span>,
      <span class="high">Angular</span>,
      <span class="high">Express</span>,
      <span class="high">Gulp</span>,
      <span class="high">WordPress</span>,
      <span class="high">jQuery</span>,
      <span class="high">Bootstrap</span>,
      <span class="high">YouTube</span>,
      <span class="high">Google Maps</span>..
    </div>
  </div>
  <br>
  <div class="h5 mt-5">
    <div class="mt-5">
      <span class="contact-item-label font-weight-bold brand-light">email</span>
      <a href="mailto:app.coder@outlook.in">app.coder@outlook.in</a>
    </div>
    <div class="mt-3">
      <span class="contact-item-label font-weight-bold brand-light">phone</span>
      <a href="tel:+2482516575">+248 2 516 575</a>
    </div>
    <div class="mt-3">
      <span class="contact-item-label font-weight-bold brand-light">telegram</span>
      <a href="https://t.me/ctrleffive" target="_blank">@ctrleffive</a>
    </div>
  </div>
</div>
