@import 'src/variables';

:host{
  @media print {
    display: none;
  }
  .contact-item-label {
    width: 150px;
    display: inline-block;
  }

  .skills {
    line-height: 2rem;
    width: 50%;
    @media screen and (max-width: 1000px) {
      width: 75%;
    }
    @media screen and (max-width: 500px) {
      width: 100%;
    }
  }
}
