@import 'src/variables';

:host {
  &:before {
    @extend .page-bg;
    background-image: url('src/assets/images/bgs/about.svg');
  }
}

.contact-item-label {
  width: 150px;
  display: inline-block;
}
