* {
  outline: none !important;
}

html,
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

p,
a {
  opacity: 0.5;
  color: inherit;
}

p {
  line-height: 2;
}

a {
  text-decoration: none !important;
  transition: 0.2s;
  &:hover, &:focus {
    opacity: 1;
    color: inherit;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400
}

.m-b-0 {
  margin-bottom: 0;
}

header {
  margin-top: 50px;
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
}

.logo {
  position: relative;
  margin-right: 0;
  &:before {
    content: '';
    position: absolute;
    border: 1px solid;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    margin-left: 1px;
    transition-duration: 0.2s;
    opacity: 0.2;
  }
  &:hover:before {
    border-width: 5px;
    opacity: 1;
  }
}

.head {
  position: relative;
  &:after {
    content: '';
    border-bottom: 2px dashed;
    display: block;
    width: 55px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 1px;
    opacity: 0.2;
    .text-center & {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (min-width: 576px) {
  div .work-block {
    height: 45vw;
  }
}

@media (min-width: 768px) {
  div .work-block {
    height: 30vw;
  }
}

.work-block {
  overflow: hidden;
  position: relative;
  height: 90vw;
  &:hover {
    .work-middle {
      opacity: 1;
      top: 50%;
    }
    .work-thumb {
      filter: blur(10px);
      opacity: 0.3;
    }
  }
}

.work-link {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.work-thumb {
  position: absolute;
  left: 50%;
  width: 75%;
  transform: translateX(-50%);
  border-radius: 10px;
  top: 15%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 35px 0 rgba(0, 0, 0, 0.15);
  transition-duration: 0.3s;
  opacity: 1;
}

.work-middle {
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  opacity: 0;
  width: 100%;
  transition-duration: 0.3s;
}

.wm-tags {
  opacity: 0.7;
  li {
    position: relative;
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    &:before {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      background: #343a40;
      left: -10px;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 100%;
    }
    &:first-child:before {
      display: none;
    }
  }
}

.padding-section {
  padding: 100px 0px;
  background: linear-gradient(158.4deg, rgba(255, 255, 255, 0) 63.03%, rgba(0, 0, 0, 0.05));
  &.bg-white {
    background: #ffffff;
  }
  &.transparent {
    background: none;
  }
  &.work {
    background: rgba(255, 255, 255, 0.85);
    margin-top: -40px;
  }
}

.foot-head {
  position: relative;
  &:after {
    content: '';
    border-bottom: 1px solid #ddd;
    display: block;
    width: 55px;
    margin-top: 15px;
    margin-left: 1px;
  }
}

.spl-button {
  position: relative;
  display: inline-block;
  padding-right: 40px;
  &:after {
    content: '';
    border: 1px solid;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 0.2s;
  }
  &:hover:after {
    border-width: 5px;
  }
}

.spl-button:hover:after,
.branded,
.logo:hover:before {
  color: rgba(0,0,0,0.5);
}

footer {
  &.padding-section {
    background: #ededed
  }
}

.soc-link {
  padding-right: 20px;
  opacity: 0.4;
  transition-duration: 0.2s;
  &:last-child {
    padding-right: 0;
  }
  &:hover {
    opacity: 1;
  }
}

.menu {
  .nav-link {
    padding: 0 !important;
    margin: 0 25px;
    &.active {
      opacity: 1;
    }
  }
  .nav-item {
    &:last-child {
      .nav-link {
        margin-right: 0;
      }
    }
  }
}

.work-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  filter: blur(25px);
  opacity: 0.2;
}

.work-image {
  border-radius: 10px;
  margin-top: 60px;
  box-shadow: 0 2px 8px 0 rgba(0,0,0,0.1), 0 10px 40px 0 rgba(0,0,0,0.15);
  max-width: 95%;
  margin-bottom: 45px;
}
