* {
  outline: none !important;
}

html,
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  font-weight: 100;
}

p, a {
  color: #858585;
}

p {
  line-height: 2;
}

a {
  text-decoration: none !important;
  transition: 0.2s;
}

a:hover {
  color: #000;
}

.h1,
.h2,
.h3,
.h5 {
  font-weight: 400
}

header {
  margin-top: 50px
}

header .navbar {
  padding-left: 0;
  padding-right: 0;
}

.logo {
  position: relative;
}

.logo:before {
  content: '';
  position: absolute;
  border: 1px solid;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  margin-left: 1px;
  transition-duration: 0.2s;
  opacity: 0.2;
}

.logo:hover:before {
  border-width: 5px;
  opacity: 1;
}

.head {
  position: relative;
}

.head:after {
  content: '';
  border-bottom: 2px dashed #ddd;
  display: block;
  width: 55px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 1px;
}

.works-blocks {}

@media (min-width: 576px) {
  div .work-block {
    height: 45vw;
  }
}

@media (min-width: 768px) {
  div .work-block {
    height: 30vw;
  }
}

.work-block {
  overflow: hidden;
  position: relative;
  height: 90vw;
}

.work-link {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.work-block:hover .work-thumb {
  filter: blur(10px);
  opacity: 0.3;
}

.work-thumb {
  position: absolute;
  left: 50%;
  width: 75%;
  transform: translateX(-50%);
  border-radius: 10px;
  top: 15%;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 2px 35px 0 rgba(0, 0, 0, 0.15);
  transition-duration: 0.3s;
  opacity: 1;
}

.work-block:hover .work-middle {
  opacity: 1;
  top: 50%;
}

.work-middle {
  position: absolute;
  top: 53%;
  transform: translateY(-50%);
  opacity: 0;
  width: 100%;
  transition-duration: 0.3s;
}

.wm-tags {
  opacity: 0.7;
}

.wm-tags li {
  position: relative;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
}

.wm-tags li::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background: #343a40;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 100%;
}

.wm-tags li:first-child:before {
  display: none;
}

.padding-section {
  padding: 100px 0px;background: linear-gradient(#fff, #f9f9f9);
}

.foot-head {
  position: relative;
}

.foot-head:after {
  content: '';
  border-bottom: 1px solid #ddd;
  display: block;
  width: 55px;
  margin-top: 15px;
  margin-left: 1px;
}

.help-button {
  position: relative;
  display: inline-block;
  padding-right: 40px;
}

.help-button:after {
  content: '';
  border: 1px solid;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition-duration: 0.2s;
}

.help-button:hover:after, .branded, .logo:hover:before {
  color: #059aff;
}

.help-button:hover:after {
  border-width: 5px;
}
