<div class="left-bar side-bar">
  <a href="#" class="logo">
    <div class="logo-break">Chandu</div>
    <div class="logo-break">J S</div>
  </a>
  <a href="mailto:app.coder@outlook.in" class="contact-button"></a>
</div>
<div class="right-bar side-bar text-center">
  <a href="#" class="site-link">Works</a>
  <div class="social-icons">
    <a href="#" class="social-icon" alt="Instagram"></a>
    <a href="#" class="social-icon" alt="LinkedIn"></a>
    <a href="#" class="social-icon" alt="Twitter"></a>
  </div>
  <a href="#" class="site-link">About</a>
</div>
<div class="scroll-helper"></div>
<div class="h1 m-0 welcome-text text-left">
  <div class="text-break">I'm <span class="high">a</span></div>
  <div class="text-break">full stack <span class="high">developer</span>.</div>
</div>
<div class="bg-animator"></div>
