$brandColor: #5d49d3;
$accentColor: #FFEB3B;

$mainColor: darken($brandColor, 30%);
$secondaryColor: lighten($mainColor, 60%);

$mainColorLightsOn: #ececec;
$accentColorLightsOn: $brandColor;
$secondaryColorLightsOn: darken($mainColorLightsOn, 60%);
