@import 'src/variables';

*{
  outline: none !important;
}

body, html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
body {
  transition: background-color 0.3s;
  color: $secondaryColor;
  background-color: $mainColor;
  user-select: none;
  &.lights-on {
    color: $secondaryColorLightsOn;
    background-color: $mainColorLightsOn;
  }
}

app-root {
  &:empty:before{
    filter: invert(0);
  }
}

.badge-brand {
  color: #000;
  background-color: $accentColor;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.high {
  color: $accentColor;
  .lights-on & {
    color: $accentColorLightsOn;
  }
}

.h1 {
  line-height: 3.5rem;
}

.h3 {
  line-height: 2.4rem;
}

.content-wrap {
  position: absolute;
  margin: 8rem 12rem;

  @media screen and (max-width: 1000px) {
    margin: 8rem 6.5rem;
  }
  @media screen and (max-width: 500px) {
    margin: 8rem 2rem;
  }
}

.brand-light {
  color: #fff;
  transition: color 0.5s;
  .lights-on & {
    color: #000;
  }
}

.contact-button {
  border-radius: 100%;
  background-color: $accentColor;
  width: 3rem;
  height: 3rem;
  display: block;
  position: relative;
  transition: background-color 0.5s;
  .lights-on & {
    background-color: $accentColorLightsOn;
  }
  &:before,
  &:after {
    content: '';
    border: 1px solid rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: border-color 0.5s;
    .lights-on & {
      border-color: rgba(255, 255, 255, 0.9);
    }
  }
  &:before {
    width: 1.5rem;
    height: 1.1rem;
    border-radius: 3px;
  }
  &:after {
    width: 1rem;
    height: 1rem;
    border-left: 0;
    border-top: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    margin-top: -5px;
  }
}

.site-link {
  font-weight: bold;
  text-transform: lowercase;
  font-size: 1.4rem;
  position: relative;
  transition-duration: 0.2s;
  transform: translateY(0.1rem);
  display: inline-block;
  margin-bottom: 2rem;
  margin-top: -1rem;
  &:before {
    content: '';
    border-bottom: 2px solid;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: $accentColor;
    transition-duration: 0.2s;
    opacity: 0;
    transform: translateY(-0.7rem);
    transition: color 0.5s;
    .lights-on & {
      color: $accentColorLightsOn;
    }
  }
  &.active {
    color: $accentColor;
    .lights-on & {
      color: $accentColorLightsOn;
    }
  }
  &:hover {
    transform: translateY(0rem);
    color: #fff;
    .lights-on & {
      color: #000;
    }
    &:before  {
      opacity: 1;
      transform: translateY(0rem);
    }
  }
  @media screen and (max-width: 500px) {
    margin-left: 2rem;
  }
}

.social-icon {
  display: block;
  width: 2.3rem;
  height: 2.3rem;
  margin-top: 1rem;
  background-position: center;
  background-size: 1.5rem;
  background-repeat: no-repeat;
  opacity: 0.5;
  transition-duration: 0.2s;
  .lights-on & {
    opacity: 0.7;
    filter: invert(1);
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:hover {
    opacity: 1;
  }
  &[alt="GitHub"] {
    background-image: url(src/assets/images/icons/github.png);
  }
  &[alt="Instagram"] {
    background-image: url(src/assets/images/icons/instagram.png);
  }
  &[alt="LinkedIn"] {
    background-image: url(src/assets/images/icons/linkedin.png);
  }
  &[alt="Twitter"] {
    background-image: url(src/assets/images/icons/twitter.png);
  }
}

pre[class*="language-"] code {
  font-size: 0.95rem;
}

markdown {
  img {
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
  }
  p {
    font-size: 1.2rem;
  }
}

.ngxMasonryItem {
  transition-property: opacity !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-bg, .page-bg-wrap svg {
  content: '';
  top: 50%;
  left: 50%;
  z-index: -1;
  opacity: 0.2;
  position: fixed;
  transition-duration: 0.2s;
  transform: translate(calc(50% - 35rem), -50%);
  max-height: 100%;

  &.nop, .nop & {
    opacity: 0;
  }

  @media screen and (max-width: 1000px) {
    transform: translate(-50%, -50%);
  }
  @media screen and (max-width: 500px) {
    transform: translate(0, -50%);
  }
}
