@import 'src/variables';

*{
  outline: none !important;
}

body, html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
body {
  transition: background-color 0.3s;
  color: $secondaryColor;
  background-color: $mainColor;
  user-select: none;
  overflow-x: hidden;
  &.lights-on {
    color: $secondaryColorLightsOn;
    background-color: $mainColorLightsOn;
  }
  @media print {
    background-color: #fff !important;
  }
}

app-root {
  &:empty:before{
    filter: invert(0);
  }
}

.badge-brand {
  color: #000;
  background-color: $accentColor;
}

a {
  color: inherit;
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.high {
  color: $accentColor;
  .lights-on & {
    color: $accentColorLightsOn;
  }
}

.h1 {
  line-height: 3.5rem;
}

.h3 {
  line-height: 2.4rem;
}

.content-wrap {
  position: absolute;
  margin: 8rem 12rem;

  @media screen and (max-width: 1000px) {
    margin: 8rem 6.5rem;
  }
  @media screen and (max-width: 500px) {
    margin: 8rem 2rem;
  }
  @media print {
    margin: 0;
    padding: 2rem;
    position: initial;
  }
}

.brand-light {
  color: #fff;
  transition: color 0.5s;
  .lights-on & {
    color: #000;
  }
}

.contact-button {
  border-radius: 100%;
  background-color: $accentColor;
  width: 3rem;
  height: 3rem;
  display: block;
  position: relative;
  transition: background-color 0.5s;
  .lights-on & {
    background-color: $accentColorLightsOn;
  }
  &:before,
  &:after {
    content: '';
    border: 1px solid rgba(0, 0, 0, 0.6);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: border-color 0.5s;
    .lights-on & {
      border-color: rgba(255, 255, 255, 0.9);
    }
  }
  &:before {
    width: 1.5rem;
    height: 1.1rem;
    border-radius: 3px;
  }
  &:after {
    width: 1rem;
    height: 1rem;
    border-left: 0;
    border-top: 0;
    transform: translate(-50%, -50%) rotate(45deg);
    margin-top: -5px;
  }
  @media screen and (max-width: 500px) {
    display: none;
  }
}


markdown {
  pre[class*="language-"]{
    @media print {
      margin-left: 0;
      margin-right: 0;
    }
    code {
      font-size: 0.95rem;
    }
  }
  img {
    max-width: 100%;
    border-radius: 5px;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
  }
  p {
    font-size: 1.2rem;
  }
}

.ngxMasonryItem {
  transition-property: opacity !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page-bg {
  svg {
    content: '';
    top: 50%;
    left: 50%;
    z-index: -1;
    opacity: 0.2;
    position: fixed;
    transition-duration: 0.2s;
    transform: translate(calc(50% - 35rem), -50%);
    max-height: 100%;

    @media screen and (max-width: 1000px) {
      transform: translate(-50%, -50%);
    }
    @media screen and (max-width: 500px) {
      transform: translate(-25%, -50%);
    }
  }

  &.hide-page-bg svg{
    opacity: 0;
    left: 51%;
  }
}
